---
layout: default
title: Tags
---

<h1>Posts sorted by tags</h1>
<div class="tags-expo">
	<div class="tags-expo-section">
		{% for tag in site.tags %}
			<h2 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h2>
			<ul class="tags-expo-posts">
				{% for post in tag[1] %}
					<li>
						<a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
							<span class="title">{{ post.title }}</span>
							<small class="post-date">{{
								post.date | date_to_string
							}}</small>
						</a>
					</li>
				{% endfor %}
			</ul>
		{% endfor %}
	</div>
</div>
