---
---

@import 'minima';

$primaryColor: #2c472c;
$primaryColorFont: white;

$shadowColorOnLight: lightgray;
$shadowColor: black;
$dotColor: gray;
$linkItemBackground: rgba(0, 0, 0, 0.2);

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	margin-bottom: 0.15em;
}

p.rss-subscribe {
	text-align: center;
}

@media screen and (max-width: 600px) {
	.site-nav input:checked ~ label[for='nav-trigger'] {
		outline-offset: 0;
		outline: 1px dotted $dotColor;
	}
	.site-nav input:checked ~ div.trigger {
		box-shadow: 0 4px 7px $shadowColor;
		background-color: $primaryColor;
		border-radius: 5px;
		text-align: center;
		position: relative;
		top: 20px;
		padding: 10px;

		> a.page-link {
			background-color: $linkItemBackground;
			margin: 5px 20px;
			padding: 5px 0;
		}
	}
	.site-nav {
		left: 9px;
	}
}
header.site-header {
	background-color: $primaryColor;
	color: $primaryColorFont;
	.wrapper {
		a {
			color: inherit;
			z-index: 2;
			position: relative;
		}
	}
	nav.site-nav {
		background-color: transparent;
		border: 0 none;
		.menu-icon > svg {
			fill: $primaryColorFont;
		}
	}
}

footer.site-footer {
	background-color: $primaryColor;
	color: $primaryColorFont;

	> .wrapper {
		display: flex;
		flex-wrap: wrap;
		align-content: space-between;
		> div {
			padding: 0.5em;
			flex: 1;
		}
	}
}

.social-media-list {
	display: flex;
	flex-direction: column;
	flex-wrap: true;
	font-size: 0.8em;
	a {
		.username {
			color: $primaryColorFont;
		}
		.svg-icon {
			fill: $primaryColorFont;
		}
	}
}

.home {
	> h2 {
		text-align: center;
	}
	> h2:before {
		content: '> ';
	}
	> h2:after {
		content: '_';
		animation: blinker 1s ease-in-out infinite;
	}
	@keyframes blinker {
		50% {
			opacity: 0;
		}
	}
	> ul {
		display: flex;
		flex-direction: row;
		align-content: space-around;
		align-items: flex-start;
		flex-wrap: wrap;
		> li {
			list-style-type: none;
			flex: 1;
			text-align: center;
			margin: 0.5em;
			padding: 0 0.5em;
			padding-bottom: 1em;
			min-width: 12em;
			box-shadow: 0 2px 5px $shadowColorOnLight;
			font-weight: bold;
			> ul {
				text-align: left;
				text-align: justify;
				font-weight: normal;
				list-style-type: '- ';
				margin-left: 0.6em;
			}
		}
	}
}

.blog {
	> .post-list {
		> li {
			box-shadow: 0 2px 5px $shadowColorOnLight;
			margin: 0.5em 0;
			padding: 0 0.5em;
			padding-bottom: 1em;
		}
	}
}
